@font-face {
    font-family: KD;
    src: url(./Kitchen\ Delight.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  background: url(https://images.unsplash.com/photo-1678281967101-d350b502d17b?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 120px;
}

p {
    font-family: KD;
    font-size: 100px;
    color: rgb(166, 213, 123);
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}