@font-face {
  font-family: carFont;
  src: url("./Fonts/Quickstep.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

#header h3 {
  font-family: carFont;
  font-size: 40px;
  font-weight: normal;
  transform: rotate(-5deg);
}

#nav {
  display: flex;
  gap: 35px;
  margin-left: 100px;
}

#nav h4 {
  font-size: 16px;
  font-weight: 600;
}

#auth {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: center;
}

#auth h4 {
  font-size: 16px;
  font-weight: 600;
}

#btn {
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
}

#hero {
  height: 500px;
  display: flex;
}

#left {
  margin-top: 10px;
  height: 100%;
  width: 50%;
  padding: 30px 40px;
}

#right {
  margin-top: 10px;
  height: 100%;
  width: 50%;
}

#right video {
  height: 100%;
  width: 95%;
  object-fit: cover;
  border-radius: 40px;
}

#left h1 {
  font-family: Helvetica Now Display;
  font-size: 80px;
  font-weight: 600;
}

#left button {
  margin-top: 100px;
  padding: 10px 25px;
  margin-right: 20px;
  background-color: rgb(62, 62, 62);
  color: whitesmoke;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

#search input {
  background-color: rgb(230, 230, 230);
  width: 100%;
  margin-top: 30px;
  border: none;
  border-radius: 50px;
  padding: 20px;
}

input:focus {
  outline: none;
}

#sort {
  margin-top: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

#sort span {
  display: inline-block;
  transform: rotate(90deg);
}

#types {
  display: flex;
  gap: 40px;
}

#types h4 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 10px 15px;
  cursor: pointer;
  display: inline-block;
}

#sort button {
  padding: 12px 20px;
  background-color: rgb(62, 62, 62);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.sort-btn:hover {
  transform: scale(1.05);
}

#card-layout {
  padding: 0px 32px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.card {
  height: 250px;
  width: 320px;
  border-radius: 15px;
  margin-top: 20px;
  background-color: coral;
  position: relative;
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#bottom {
  height: 33%;
  width: 100%;
  background: linear-gradient(transparent, black);
  color: white;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all ease 0.3s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.card:hover #bottom {
  opacity: 1;
}

#bottom h4 {
  cursor: pointer;
  color: black;
  background-color: white;
  padding: 5px 5px;
  border-radius: 50px;
}

#bottom h5 {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
